.logements{
    margin: 200px auto 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 80%;
    margin: 0 auto;
}

.carousel-container{
    grid-column: 1 / span 12;
    height: 400px;
}


.logement-fiche-containt{
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: auto;
    margin-top: 200px;
}

.logement-fiche-title-position-tags{
    grid-column: 1 / span 6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logement-fiche-title-position-tags h2{
    color: #ff6060;
    font-size: 35px;
    margin-bottom: 10px;
}

.logement-fiche-title-position-tags p:nth-child(2){
    color: #ff6060;
    font-size: 18px;
}

.logement-tags{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.tags, .tags{
    color: #fff!important;
    padding: 5px 20px;
    background-color: #ff6060;
    border-radius: 9999px;
    font-size: 15px!important;
    display: inline-block;
    width: auto;
    white-space: nowrap;
}

.logement-fiche-pictures-name-rating{
    grid-column: 7 / span 6;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.logement-fiche-pictures-name{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.logement-fiche-pictures-name h2{
    font-size: 20px;
    color: #ff6060;
}

.logement-fiche-pictures{
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
}

.logement-fiche-pictures img{
    object-fit: cover;
    height: 100%;
}

.logement-fiche-rating{
    margin: 30px 5% 0px ;
}

.logement-fiche-rating .star{
    width: auto;
    height: 30px;
}

.logement-fiche-description-equipement{
    grid-column: 1 / span 12;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 100px;
    margin: 0 -6% 100px;
}

.logement-fiche-description{
    grid-column: 1 / span 6;
}

.logement-fiche-equipement{
    grid-column: 7 / span 6;
}

@media screen and (max-width: 764px) {
    .logement-fiche-containt{
        margin-top: 150px;
    }
    .logement-fiche-title-position-tags{
        grid-column: 1 / span 12;
        align-items: flex-start;
        width: 100%;
    }
    .logement-fiche-title-position-tags h2{
        font-size: 50px;
    }
    .logement-fiche-title-position-tags p{
       font-size: 30px!important; 
       margin-top: 25px;
    }
    .logement-tags{
        margin: 0 auto;
        margin-top: 55px;
        margin-bottom: 35px;
    }
    .logement-tags p{
        font-size: 25px!important;
    }

    .logement-fiche-pictures-name-rating{
        grid-column: 1 / span 12;
        align-items: center;
    }
    .logement-fiche-pictures-name-rating{
        flex-direction: row;
        flex-direction: row-reverse;
        column-gap: 20%;

    }
    .logement-fiche-description-equipement{
        display: flex;
        flex-direction: column;
    }
}