.banniere-home-container{
    height: 240px;
    margin: 150px 10% 0;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.banniere-home-img{
    width: 100%;
    min-height: 240px;
    object-fit: cover;
    filter: brightness(75%);
}

.home-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f1f1f1;
    font-size: 40px;
}

.home-container-cards{
    background-color: #f1f1f1;
    width: 80%;
    margin: 20px auto;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 40px;
    column-gap: 40px;
    padding: 2% 2%;
}

.home-img-cover{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 764px){
    .banniere-home-container{
        margin: 150px 5% 0;
    }
    .home-title{
        font-size: 30px;
        width: 90%;
        margin: 0 10px 0 0px;
        text-align: center;
    }
    .home-container-cards{
        background-color: transparent;
        margin: 0 auto;
        text-align: center;
    }

}