header {
    position: fixed;
    top: 0;
    right: 0%;
    left: 0%;
    height: 100px;
    padding: 30px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: #fff;
    overflow: hidden;
  }

.img-header{
    transform: scale(0.5);
    margin-left: 4%;
}

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10%;
    font-size: 25px;
  }

  .lien-site {
    color: #ff6060;
    text-decoration: none;
    display: inline-block;
    margin: 50% 20px;
  }

  .lien-site:hover {
    color: #000000;
    cursor: pointer;
  }

  .lien-menu.active {
      border-bottom: 1px solid #ff6060;
  }
          
  @media screen and (max-width: 764px){
    nav {
      margin-left: -130px;
      font-size: 20px;
    }
    .img-header{
      transform: scale(0.3);
      margin-left: -140px;
    }
  }