  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
  }

.lien-site {
    color: #ff6060;
    text-decoration: none;
    display: inline-block;
    margin: 50% 20px;
  }

  .lien-site:hover {
    color: #000000;
    cursor: pointer;
  }

  .active-nav {
      border-bottom: 1px solid #ff6060;
      background-color: red;
  }